html {font-size:$base-font-size;}
body{
  font-family: $base-font-family;
  color: $text-color;
  line-height: $base-line-height;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  margin: 0.6em 0;
}
h1 {
	font-size: $font-size-h1;
}
h2 {
	font-size: $font-size-h2;
}
h3 {
	font-size: $font-size-h3;
}
h4 {
	font-size: $font-size-h4;
}
h5{
	font-size: $font-size-h5;
}
h6{
	font-size: $font-size-h6;
}

p{
	font-size: $font-size-normal;
	text-align: justify;
}

b, strong { font-weight: bold;}
i, em { font-style: italic;}

a{
	color: $link-color;
	&:hover{
		color: $link-color-hover;
	};
}
img{
  max-width: 100%;
  height: auto;
  width: auto;
  box-sizing: border-box;
}
ul{margin: px2rem(10px);}
li{ list-style-type: disc;}

.svg-image{
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
