@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-R.eot?') format('eot'), 
	     url('../fonts/Ubuntu-R.woff') format('woff'), 
	     url('../fonts/Ubuntu-R.ttf')  format('truetype'),
	     url('../fonts/Ubuntu-R.svg#Ubuntu-R') format('svg');
}