.pager{
  text-align: center;
  ul{margin: 0;padding:0}
  li {display: inline-block;margin:px2rem(4px);}
}
.navigation_bread_crumb {
  li{display: inline-block; margin: px2rem(4px);}

}
.navigation_menu {}
.navigation_sub_menu{}
